<div class="ui-g">
    <h5>Produtos</h5>
    <p-table #dt1 [value]="clientes$" selectionMode="single" 
        [(selection)]="clienteSelecionado" dataKey="id" styleClass="p-datatable-clientes" 
        [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session" [responsive]="true">
        <ng-template pTemplate="header">
            <tr class="">
                <th pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="sobrenome">Sobrenome <p-sortIcon field="sobrenome"></p-sortIcon></th>
                <th pSortableColumn="dataRecebimento">Data Recebimento <p-sortIcon field="dataRecebimento"></p-sortIcon></th>
                <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
                <th pSortableColumn="statusProduto">Status <p-sortIcon field="statusProduto"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr [pSelectableRow]="cliente">
                <td>
                    <span class="p-column-title">Id</span>
                    {{cliente.id}}
                </td>
                <td>
                    <span class="p-column-title">Nome</span>
                    {{cliente.nome}}
                </td>
                <td>
                    <span class="p-column-title">Sobrenome</span>
                    <span class="image-text">{{cliente.sobrenome}}</span>
                </td>
                <td>
                    <span class="p-column-title">Data Recebimento</span>
                    <span class="image-text">{{cliente.dataRecebimento | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <span class="p-column-title">Código</span>
                    <span class="image-text">{{cliente.codigo}}</span>
                </td>
                <td>
                    <span class="p-column-title">statusProduto</span>
                    <span class="customer-badge status-recebido" href="javascript:;" [pTooltip]="cliente.status ? 'DELETADO' : 'ENTREGUE' "
                    tooltipPosition="top">{{cliente.statusProduto }}</span>  
                </td>
                <td >
                    <a pButton icon="fa fa-pencil" class="mr-1" pTooltip="Editar" tooltipPosition="top"></a>
                    <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>                   
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">Buscando produtos...</td>
            </tr>
        </ng-template>
    </p-table>
</div>